
* {
  margin: 0;
  padding:0;
  box-sizing: border-box;
}

a{
  text-decoration: inherit;
  color: inherit;
}

.App{
  background-image: url('../src/Images/night_view.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: rgb(161, 234, 236);
    width: 100vw;
    height: 150vh;
    
  
  
  
  
}